@charset "utf-8";

body {
	margin: 0;
	padding: 0;
}

body, .ui-page {
	font-family: 'AvantGardeGothicITCW01B 731069' , Sans-Serif;
}
.shadow {
	-moz-box-shadow:    3px 3px 5px 0px #000;
	-webkit-box-shadow: 3px 3px 5px 0px #000;
	box-shadow:         3px 3px 5px 0px #000;
}

/* 
Avant bold = font-family:'AvantGardeGothicITCW01B 731063';
Avant book = font-family:'AvantGardeGothicITCW01B 731069';
Avant medi = font-family:'AvantGardeGothicITCW01M 731087';
Helv Neue 45 = font-family:'HelveticaNeueW01-45Ligh';
*/

#homePage {
	background: transparent url('../images/piermont_bg.jpg') no-repeat;
	background-size:cover;
	background-position: center center;
}

#homeHeader {
	background-color:transparent;
	background-size:contain;
	background-image:url(../images/henley_logo.jpg);
	height: 74px;
	background-repeat: no-repeat;
	background-position: 5px;
	border:0;
}
#searchTrigger {
	float:right;
	margin: 1em 1em;
	opacity: 0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}

#searchpanel {
	background-color:black;
	height: 3em;
	padding: .5em .5em;
	display:none;
}
#searchCloser {
	display:none;
	float:right;
	margin: 0 1em 0 0;
	padding:.2em 2em .4em 2em;
	background-color:#000;
	font-size:.8em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#searchCloser a {
	text-decoration:none;
	color:#ccc;
}
#searchCloser a:hover {
	color:#fff;
}
.arrow-up-rel {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position:relative;
	top: -.8em;
	left: .5em;
	opacity: 0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
	margin:0;
}
.arrow-down-rel {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff;
	position:relative;
	top: .9em;
	left: .5em;
	opacity: 0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
	margin:0;
}

#pageFooter {
	width: 100%;
	position:absolute;
	bottom:0;
}
#pageFooter a {
	text-decoration:none;
	color:#fff;
}
#navOpen {
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	font-size: 1.2em;
	font-variant:small-caps;
	background-color: #b71234;
	border-top-left-radius:  5px;
	border-top-right-radius: 5px;
}
#bottomNav {
	margin: auto;
	padding:0;
	width:220px;
	display:none;
}
#bottomNav ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
#bottomNav li {
	margin:0;
	text-align:left;
	background-color:white;
	background-image:url(../images/right-arrow.png);
	background-repeat: no-repeat;
	background-position: 90% 50%;
	border-bottom: solid 1px #b19c83;
	line-height:.7em;
}
#bottomNav li a {
	padding:.4em 0 .4em 2em;
	display:block;
	text-decoration:none;
	font-size:.8em;
	font-weight: normal;
	color: #b19c83;
}
#bottomNav li a:hover {
	background-color: #e5dbcf;
	background-image:url(../images/right_arrow_on.png);
	background-repeat: no-repeat;
	background-position: 90% 50%;
	color:#fff;
}
