@charset "utf-8";

#homePage {
	background: transparent url(../images/piermont_bg.jpg) 0 0 no-repeat fixed !important;
	background-position: center center;
	background-attachment: scroll;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#homeHeader {
	background-color:transparent;
	background-image:url(../images/henley_logo.jpg);
	height: 74px;
	background-repeat: no-repeat;
	background-position: 5px;
	border:0;
}
#searchTrigger {
	float:right;
	margin: 1em 1em;
	opacity: 0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}

#searchpanel {
	background-color:black;
	height: 3em;
	padding: .5em .5em;
	display:none;
}

